/* Mobile first design */
:root {
  /* pallete */
  --white: #fff;
  --light-gray: #dddddd;
  --black: #0e0e0e;
  --black-opacity-30: #0e0e0e30;
  --celadon: #a7ce97;
  --office-green: #437d21;
  /* spacing */
  --small: 8px;
  --medium: 16px;  
  --large: 24px;
}

body,
header,
footer,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-weight: bold;
  z-index: 1;
}

p {
  font-size: 0.9rem;
}

img {
  height: 100%;
  width: auto;
}

header {
  display: unset;
}

nav.navbar,
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--celadon);
  padding: 0;
  z-index: 1;
}
nav.navbar {
  background: var(--black-opacity-30);
  position: sticky;
  width: 100vw;
  top: 0;
}
nav.navbar div {
  width: 50px;
  height: auto;
}
nav.navbar .promotion-container,
nav.navbar .promotion-container p {
  width: 100%;
}
nav.navbar .promotion-container {
  background: #64ff8d;
  padding: 0 var(--small);
}
nav.navbar .promotion-container p {
  font-weight: 600;
  text-align: center;
}

.carousel,
.image-text-block,
.contact-form,
.instagram-container {
  max-width: 1440px;
  margin: 0 auto;
}

.get-in-touch {
  position: relative;
  background: #64ff8d;
  text-align: center;
  padding: var(--large) calc(var(--large) * 2);
}
.get-in-touch h3:after {
  content: '';
  background: url(../images/arrow-right.svg);
  position: absolute;
  width: 50px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.image-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-text-block .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--small);
  text-align: center;
}

.contact-form {
  padding: var(--small);
}

.instagram-container,
.instagram-container .instagram-media {
  width: 100%;
}
.instagram-container {
  padding: 0 var(--medium);
}
.instagram-container .instagram-media {
  min-width: 0!important;
  border: none!important;
}

footer {
  font-weight: 600;
  padding: var(--small);
  align-items: center;
}

@media (min-width: 720px) {
  p {
    font-size: 1rem;
  }
  .image-text-block {
    flex-direction: row;
    align-items: center;
    padding: 0 var(--medium) var(--medium);
  }
  .image-text-block:nth-child(even) {
    flex-direction: row-reverse;
  }
}
