/* Mobile first design */
:root {
  /* pallete */
  --white: #fff;
  --black: #0e0e0e;
  --black-opacity-30: #0e0e0e30;
  --celadon: #a7ce97;
  --office-green: #437d21;
  /* spacing */
  --small: 8px;
  --medium: 16px;  
  --large: 24px;
}

body,
header,
footer,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-weight: bold;
  z-index: 1;
}

img {
  height: 100%;
  width: auto;
}

nav.navbar,
footer {
  display: flex;
  justify-content: center;
  background: var(--celadon);
  padding: var(--small);
  z-index: 1;
}
nav.navbar {
  background: var(--black-opacity-30);
  position: fixed;
  width: 100vw;
}
nav.navbar div {
  width: 50px;
  height: auto;
}

.get-in-touch {
  position: relative;
  background: #64ff8d;
  text-align: center;
  padding: var(--large) calc(var(--large) * 2);
}
.get-in-touch h3:after {
  content: '';
  background: url(../images/arrow-right.svg);
  position: absolute;
  width: 50px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.image-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-text-block .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--small);
  text-align: center;
}

.contact-form {
  padding: var(--small);
}

@media (min-width: 720px) {
  .image-text-block {
    flex-direction: row;
    align-items: center;
    padding: 0 var(--medium) var(--medium);
  }
  .image-text-block:nth-child(even) {
    flex-direction: row-reverse;
  }
}
